{% extends "base.html" %}
{% block content %}
    <h1>Number of matches won per team per year in IPL.</h1>
    <table border="2px", cellpadding="10px", style="margin: auto">
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>Matches Won</th>
        </tr>
        {% for data in result %}
        <tr>
            <td>{{data.season}}</td>
            <td>{{data.winner}}</td>
            <td>{{data.matches_won}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock  %}