<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="text-align: center">
    <h2>Explore the following URLs:</h2>
    <ol style="text-align: left; display: inline-block; margin: auto; font-size: large;">
      <li>localhost/matches-count/</li>
      <li>localhost/matches-won/</li>
      <li>localhost/extra-runs/&lt;int:year&gt;/</li>
      <li>localhost/economical-bowlers/&lt;int:year&gt;/&lt;int:count&gt;/</li>
      <li>localhost/matches-count-chart/</li>
      <li>localhost/matches-won-chart/</li>
      <li>localhost/extra-runs-chart/&lt;int:year&gt;/</li>
      <li>localhost/economical-bowlers-chart/&lt;int:year&gt;/&lt;int:count&gt;/</li>
    </ol>
  </body>
</html>


